body {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;

    grid-template-areas:
        "nav header"
        "nav main";

    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    height: 100vh;
}

header {
    grid-area: header;
    padding-left: 2rem;
}

nav {
    grid-area: nav;
    padding: 1rem;
    background-color: lightgray;
}

main {
    grid-area: main;
    padding-left: 2rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.nav-menu-block {
    display: grid;
}

.answer {
    border-collapse: collapse;
}

.answer-variant {
    cursor: pointer;
    width: auto;
    border: 1px solid lightgray;
    display: table-row;
}

.answer-variant div {
    display: table-cell;
    padding: 8px 25px;
    color: black;
}

.answer-variant div:hover {
    background-color: lightgray;
}

.answer-variant-selected {
    background-color: darkgray;
    color: white;
}

.error-empty-answer {
    border: 1px solid red;
}

.chart {
    width: 50%;
}