{% extends 'base.html' %}

{% block title %}
    Создать опрос
{% endblock %}

{% block header %}
    <h1>Создать опрос</h1>
{% endblock %}

{% block contents %}
    <form action="{% url 'article-poll-create' article_id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}