{% extends 'base.html' %}

{% block title %}
    Создать вопрос к опросу {{ poll_id }}
{% endblock %}

{% block header %}
    <h1>Создать вопрос к опросу {{ poll_id }}</h1>
{% endblock %}

{% block contents %}
    <form action="{% url 'poll-question-create' poll_id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}<br><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
{% endblock %}