{% extends 'base.html' %}


{% block title %}
    {{ poll.title }}
{% endblock %}

{% block header %}
    <h1>{{ poll.title }}</h1>
{% endblock %}


{% block contents %}

    {% if poll.questions.all %}
        <h2>Вопросы</h2>
        <div class="poll">
            <form id="vote-form" action="{% url 'poll-vote' poll.id %}" method="POST">
                {% csrf_token %}
                <ol>
                    {% for question in poll.questions.all %}
                        <div class="question" question-id="{{ question.id }}">
                            <li>{{ question.question_text }}</li>
                            <div class="answer">
                                {% for answer in question.answers.all %}
                                    <div class="answer-variant" answer-id="{{ answer.id }}">
                                        <div>{{ answer.answer_text }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </ol>
                <div>
                    <input type="submit" value="Голосовать">
                </div>
                <div>
                    <a href="{% url 'poll-results' poll.id %}">Результаты опроса</a>
                </div>
            </form>
        </div>
    {% endif %}



    {% if request.user.is_authenticated %}
    <div>
        <a href="{% url 'poll-question-create' poll.id %}">Создать вопрос</a>
    </div>
    {% endif %}


    <div id="dialog-success" title="Голосование">
        <p>
            Спасибо, что приняли участие в голосовании.
        </p>
        <p>
            <a href="{% url 'poll-results' poll.id %}">Результаты опроса</a>
        </p>
    </div>

    <div id="dialog-fail" title="Голосование">
        <p>
            При голосовании возникла ошибка:
        </p>
        <p id="dialog-fail-error-message"></p>
    </div>
 

{% endblock %}