{% extends 'base.html' %}


{% block title %}
    Опросы
{% endblock %}

{% block header %}
    <h1>Опросы</h1>
{% endblock %}


{% block contents %}

    <ul>
        {% for poll in polls %}
            <li>
                <a href="{% url 'poll-detail' poll.id %}">{{ poll.title }}</a>&nbsp;(к статье <a href="{% url 'article-detail' poll.article_id %}">{{ poll.article.title }}</a>)
            </li>
        {% endfor %}
    </ul>

{% endblock %}