{% extends 'base.html' %}


{% block title %}
    Результаты опроса {{ poll.title }}
{% endblock %}

{% block header %}
    <h1>Результаты опроса {{ poll.title }}</h1>
{% endblock %}


{% block contents %}

    <ol>
        {% for k, qtext, v in poll_results %}
            <li>
                <div id="question-{{ k }}">
                    <div>{{ qtext }}</div>
                    <canvas class="vote-chart"
                        id="chart-question-{{ k }}"
                        dataset-id="dataset-{{ k }}"
                        labels-id="labels-{{ k }}"
                        width="500" height="250"
                        data="{{ v.1|escapejs|safe }}"
                        labels="{{ v.0|escapejs|safe }}">
                    </canvas>
                </div>
            </li>
        {% endfor %}
    </ol>

{% endblock %}