{% extends 'base.html' %}

{% block header %}
    <h1>Логин</h1>
{% endblock %}

{% block contents %}

    {% if next %}
        Чтобы продолжить, необходимо авторизоваться
    {% endif %}

    {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}    

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="Логин">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}