{% extends 'base.html' %}


{% block title %}
    Выход
{% endblock %}

{% block header %}
    <h1>Выход</h1>
{% endblock %}

{% block contents %}

Вы вышли из аккаунта

<a href="{% url 'main' %}">На главную</a>

{% endblock %}