{% extends 'base.html' %}

{% block header %}
    <h1>Регистрация</h1>
{% endblock %}

{% block contents %}

    {% if form.non_field_errors %}
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>Имя пользователя</td>
                <td>{{ form.username }}</td>
                <td>{% for error in form.username.errors %}{{ error|escape }}{% endfor %}</td>
            </tr>
            <tr>
                <td>Пароль</td>
                <td>{{ form.password1 }}</td>
                <td>{% for error in form.password1.errors %}{{ error|escape }}{% endfor %}</td>
            </tr>
            <tr>
                <td>Подтверждение пароля</td>
                <td>{{ form.password2 }}</td>
                <td>{% for error in form.password2.errors %}{{ error|escape }}{% endfor %}</td>
            </tr>
        </table>

        <input type="submit" value="Зарегистрироваться">
        <input type="hidden" name="next" value="{{ next }}">
    </form>

{% endblock %}