{% extends 'base.html' %}

{% block title %}
    Создать статью
{% endblock %}

{% block header %}
    <h1>Создать статью</h1>
{% endblock %}

{% block contents %}
    <form action="{% url 'article-create' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}