{% extends 'base.html' %}


{% block title %}
    {{ article.title }}
{% endblock %}

{% block header %}
    <h1>{{ article.title }}</h1>
{% endblock %}


{% block contents %}

    <div>{{ article.body }}</div>

    {% if article.polls %}
        <h2>Опросы</h2>
        <ul>
            {% for poll in article.polls.all %}
                <li><a href="{% url 'poll-detail' poll.id %}">{{ poll.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'article-poll-create' article.id %}">Создать опрос</a>
    {% endif %}

{% endblock %}