{% extends 'base.html' %}


{% block title %}
    Статьи
{% endblock %}

{% block header %}
    <h1>Статьи</h1>
{% endblock %}


{% block contents %}

    <ul>
        {% for article in articles %}
            <li><a href="{% url 'article-detail' article.id %}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>

    {% if request.user.is_authenticated %}
        <a href="{% url 'article-create' %}">Создать статью</a>
    {% endif %}

{% endblock %}