{% load staticfiles %}

<html>

<head>
    <title>{% block title %}{% endblock %}</title>

    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/Chart.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">

    <script type="application/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/js.cookie-2.2.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/vote.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/vote_chart.js' %}"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="UTF-8">

</head>

<body>

    <div class="container">
        <header>{% block header %}{% endblock %}</header>

        <nav>
            <div class="nav-menu">
                <div class="nav-menu-block">
                    {% block to_main %}
                        <a href="{% url 'main' %}">На главную</a>
                    {% endblock %}

                    <a href="{% url 'article-list' %}">Статьи</a>
                    <a href="{% url 'poll-list' %}">Опросы</a>
                </div>

                <div  class="nav-menu-block"></div>

                {% block auth %}
                    <div class="nav-menu-block">
                        {% if not request.user.is_authenticated %}
                            <a href="{% url 'login' %}">Авторизоваться</a>
                            <a href="{% url 'register' %}">Зарегистрироваться</a>
                        {% else %}
                            <a href="{% url 'logout' %}">Выйти</a>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </nav>

        <main>
            {% block contents %}
            {% endblock %}
        </main>

    </div>


</body>

</html>